$font: 'Open Sans', sans-serif;

@mixin fonts($color,$size,$weight: 500px,$family: $font) {
   font-family: $family;
   font-size: $size;
   font-weight: $weight;
   color: $color;
}

$colors: (
   primary: #000,
   buttons: #3897F0,
   likes: #F56040,
   bg: #FAFAFA
);

@function clr($value) {
   @return map-get($colors, $value);
}

body {
   margin: 0;
   padding: 0;
}

nav {
   display: flex;
   height: 100%;
   box-sizing: border-box;
   overflow: hidden;
   margin: 0 auto;
   align-self: center;
   vertical-align: middle;
}

.nav-bg {
   height: 10vh;
   margin: 0;
   padding: 0;
   border-bottom: 1px solid rgba(#333,0.2);
}

.logo {
   display: flex;
   height: 30px;
   align-self: center;
   .logo-icon {
      width: 25px;
      overflow: hidden;
      margin-right: 10px;
      img {
         vertical-align: middle;
         width: 100%;
         &::after {
            content: '';
            display: block;
            height: 40px;
            // width: 1px;
            float: right;
            border: 1px solid rgba(#333,0.7);
            margin: 0 3px;
         }
      }
      
   }

   .glyph {
      img {
         vertical-align: middle;
         height: 100%;
      }
   }
}

.search {
   align-self: center;
   
   input {
      padding: 6px 8px;
      border-radius: 3px;
      border: 1px solid rgba(#333,0.5);
   
      &::placeholder {
         text-align: center;
         font-family: FontAwesome, 'Open Sans', sans-serif;
      }
   }

}

.page {
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
   position: fixed;
   z-index: -4;
   background-color: clr(bg);
}

.helptext {
   display: none;
}

.form-container {
   width: 25%;
   margin: 5% auto 1% auto;
   border: 1px solid rgba(#333,0.2);
   background: #fff;
   // border-radius: 5px;

   form {
      width: 70%;
      margin: 10px auto;
      padding: 0;
   }

   .legend {
      width: 92%;
      margin: 0 auto;
      text-align: center;
      .form-glyph {
         margin: 3% 0;
         height: 40px;
         overflow: hidden;
         img {
            height: 100%;
         }
      }

      h5 {
         margin: 0;
         @include fonts(rgba(#333,0.5),18px,700);
      }
   }

   input {
      width: 100%;
      margin: 0;
      padding: 10px 8px;
      background-color: clr(bg);
      border: 1px solid rgba(#333,0.2);
      border-radius: 4px;
      &::focus {
         border: 1px solid rgba(#333,0.7);
      }
   }
   
   label {
      display: none;
   }

   button {
      background-color: clr(buttons);
      border: none;
      width: 100%;
      @include fonts(#fff,13px,500);
      padding: 7px 0;
      border-radius: 4px;
      margin: 0;
   }

   
}

.acc-status-check {
   width: 25%;
   margin: 1% auto;
   border: 1px solid rgba(#333,0.2);

   p {
      margin: 5% 0;
      text-align: center;
      @include fonts(#333,13px,400);
      a {
         text-decoration: none;
         @include fonts(clr(buttons),13px,400);
      }
   }
}

