{% extends "timeline/layout.html" %}
{% load static %}

{% block content %}

   <div class="page">
      
      <div class="form-container">

         <form action="" method="post">
            <div class="legend">
               <div class="form-glyph">
                  <img src="{% static 'images/insta_text.svg' %}" alt="">
               </div>
               <h5>Sign up to see photos from your friends</h5>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Sign Up</button>
         </form>
         
      </div>
      
      <div class="acc-status-check">
         <p>Have an account? <a href="#">Log In</a></p>
      </div>
      
   </div>
  
{% endblock content %}

