{% extends "timeline/layout.html" %}
{% load static %}

{% block content %}

   {% include "timeline/nav.html" %}

   <div class="page"></div>
      <div class="posts-container">

         {% for post in images %}
            <div class="post-card">
               <div class="post-top">
                  <div class="avatar-sm">
                     <img src="{{ post.author.avatar.url }}" alt="">
                  </div>
                  <p>{{ post.author.user.username }}</p>
               </div>
               <div class="post-image">
                  <img src="{{ post.img.url }}" alt="">
               </div>
               <div class="post-icons">
                  <img src="{% static 'images/like.svg' %}" alt="">
               </div>
               <div class="post-likes">
                  <p>1 Like</p>
               </div>
               <div class="post-caption">
                  <p><span>{{ post.author.user.username }}</span>{{ post.caption }}</p>
               </div>
               <div class="post-comment-field">
                  <form action="" method="POST">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <button type="submit" hidden></button>
                  </form>
               </div>
            </div>
         {% endfor %}

      </div>
  
{% endblock content %}
