{% extends "timeline/layout.html" %}
{% load static %}

{% block content %}

   {% include "timeline/nav.html" %}


   
   <div class="page"></div>
      <div class="container">

         <div class="profile-content">

            <div class="main-avatar">
               <img src="{{ user.profile.avatar.url }}" alt="">
            </div>
            <div class="profile-details">
               <div class="profile-top">
                  <div class="profile-user">
                     <h1>{{ user.username }}</h1>
                  </div>
               </div>


               <div class="activity-count">
                  <p><span>{{ user.profile.image_set.count }}</span> posts </p>
                  <p><span>{{ user.profile.followed_by.count }}</span> followers </p>
                  <p><span>{{ user.profile.following.count }}</span> following </p>
               </div>
               <div class="follow-btn">
                  <a href="{% url 'follow' %}">
                     <button>Follow</button>
                  </a>
               </div>
               {% if user.profile.bio %}
                  <div class="bio">
                     <p>{{ user.profile.bio }}</p>
                  </div>
               {% endif %}
            </div>
            
         </div>

      </div>


      <div class="profile-images">
         {% for image in images %}
         
         <div class="image-card">
            <a href="{% url 'image_view' image.id %}">
               <img src="{{ image.img.url }}" alt="">
            </a>
         </div>
         
         {% endfor %}
      </div>

{% endblock content %}